# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
ipch/

# Build folders
Debug/
Release/
x64/
x86/
build/
out/

# Logs
*.log

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# OpenGL temp
*.pdb
*.obj
*.ilk
*.exe
